.wrap {
  background: url("../img/beijing.png") center center no-repeat;
  position: relative;
}
.wrap .box {
  width: 25%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-1%) translateY(-36%);
  padding: 21px;
}
.wrap .box .title {
  text-align: center;
  font-size: 25px;
  padding: 27px 0;
}
.wrap .box .input01 {
  margin: 0 auto;
  width: 316px;
  height: 40px;
  background-color: #f5f5fa;
  background-size: cover;
  border-radius: 6px;
  border: 1px solid #eaeaed;
  margin-bottom: 30px;
}
.wrap .box .input01 .iconfont {
  float: left;
  font-size: 21px;
  margin-top: 8px;
  margin-left: 20px;
  color: #c0c0c5;
}
.wrap .box .input01 input {
  margin-left: 14px;
  width: 249px;
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  border: none;
  outline: none;
  background: #f5f5fa;
}
.wrap .box .input03 {
  margin: 0 auto;
  width: 342px;
  height: 50px;
}
.wrap .box .input02 {
  margin: 0 auto;
  width: 316px;
  height: 40px;
  background-color: #f5f5fa;
  background-size: cover;
  border-radius: 6px;
  border: 1px solid #eaeaed;
}
.wrap .box .input02 .iconfont {
  float: left;
  font-size: 21px;
  margin-top: 8px;
  margin-left: 20px;
  color: #c0c0c5;
}
.wrap .box .input02 input {
  margin-left: 14px;
  width: 249px;
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  border: none;
  outline: none;
  background: #f5f5fa;
}
.wrap .box .layui-input-inline {
  width: 322px;
}
.wrap .box .layui-inline {
  margin-left: 10px;
}
.wrap .box .btn {
  margin: 15px auto;
  width: 322px;
  height: 39px;
  background: url(../img/denglu.png) center center no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}
.wrap .box .btm {
  margin: 74px auto 15px;
  width: 322px;
  height: 39px;
  background: url(../img/denglu.png) center center no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 1920px) {
  .wrap {
    background: url("../img/beijing.png") center center no-repeat;
  }
}
@media only screen and (min-width: 1366px) {
  .wrap {
    width: 1113px;
    min-height: 626px;
    overflow-y: auto;
    background: url("../img/1366x768.jpg") center center no-repeat;
    background-size: contain;
    margin: auto;
  }
  .wrap .box .input01,
  .wrap .box .input02 {
    margin: 0 auto;
    width: 196px;
    height: 25px;
    background-color: #f5f5fa;
    background-size: cover;
    border-radius: 6px;
    border: 1px solid #eaeaed;
    margin-bottom: 30px;
  }
  .wrap .box .input01 .iconfont,
  .wrap .box .input02 .iconfont {
    float: left;
    font-size: 18px;
    margin-top: 1px;
    margin-left: 15px;
    color: #c0c0c5;
  }
  .wrap .box .input01 input,
  .wrap .box .input02 input {
    margin-left: 22px;
    width: 113px;
    height: 16px;
    margin-top: 5px;
    padding-left: 5px;
    border: none;
    outline: none;
    background: #f5f5fa;
  }
  .wrap .box .title {
    text-align: center;
    font-size: 19px;
    padding: 27px 0;
  }
  .wrap .box .btn {
    width: 197px;
    height: 26px;
  }
  .log2 .layui-form {
    font-size: 12px;
    width: 190px!important;
    margin-left: 38px!important;
    margin-bottom: 27px!important;
  }
  .log2 .layui-form .layui-form-select input {
    height: 27px;
  }
  .log2 .layui-form .layui-form-select .layui-anim-upbit {
    height: 32px!important;
    min-height: 100px;
    overflow: auto;
    zoom: 1;
  }
  .log2 .layui-form .layui-form-select .layui-anim-upbit dd {
    height: 20px!important;
    line-height: 2;
  }
  .log2 h1 {
    font-size: 19px;
  }
  .btn2 {
    margin-left: 38px!important;
    width: 190px!important;
    height: 27px!important;
  }
}
@media only screen and (min-width: 1400px) {
  .wrap {
    width: 1400px;
    background: url("../img/1440x1050.jpg") center center no-repeat;
    background-size: contain;
  }
  .wrap .box .input01,
  .wrap .box .input02 {
    margin: 0 auto;
    width: 303px;
    height: 31px;
    background-color: #f5f5fa;
    background-size: cover;
    border-radius: 6px;
    border: 1px solid #eaeaed;
    margin-bottom: 30px;
  }
  .wrap .box .input01 .iconfont,
  .wrap .box .input02 .iconfont {
    float: left;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 15px;
    color: #c0c0c5;
  }
  .wrap .box .input01 input,
  .wrap .box .input02 input {
    margin-left: 22px;
    width: 214px;
    height: 19px;
    margin-top: 5px;
    padding-left: 5px;
    border: none;
    outline: none;
    background: #f5f5fa;
  }
  .wrap .box .title {
    text-align: center;
    font-size: 19px;
    padding: 27px 0;
  }
  .wrap .box .btn {
    width: 303px;
    height: 31px;
  }
  .log2 .layui-form {
    font-size: 12px;
    width: 296px!important;
    margin-left: 38px!important;
    margin-bottom: 27px!important;
  }
  .log2 .layui-form .layui-form-select input {
    height: 27px;
  }
  .log2 .layui-form .layui-form-select .layui-anim-upbit {
    height: 32px!important;
    min-height: 100px;
    overflow: auto;
    zoom: 1;
  }
  .log2 .layui-form .layui-form-select .layui-anim-upbit dd {
    height: 20px!important;
    line-height: 2;
  }
  .log2 h1 {
    font-size: 19px;
  }
  .btn2 {
    margin-left: 38px!important;
    width: 303px!important;
    height: 27px!important;
  }
}
@media only screen and (min-width: 1440px) {
  .wrap {
    width: 1400px;
    background: url("../img/1440x1050.jpg") center center no-repeat;
    background-size: contain;
  }
  .wrap .box .input01,
  .wrap .box .input02 {
    margin: 0 auto;
    width: 270px;
    height: 31px;
    background-color: #f5f5fa;
    background-size: cover;
    border-radius: 6px;
    border: 1px solid #eaeaed;
    margin-bottom: 30px;
  }
  .wrap .box .input01 .iconfont,
  .wrap .box .input02 .iconfont {
    float: left;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 15px;
    color: #c0c0c5;
  }
  .wrap .box .input01 input,
  .wrap .box .input02 input {
    margin-left: 22px;
    width: 202px;
    height: 19px;
    margin-top: 5px;
    padding-left: 5px;
    border: none;
    outline: none;
    background: #f5f5fa;
  }
  .wrap .box .title {
    text-align: center;
    font-size: 19px;
    padding: 27px 0;
  }
  .wrap .box .btn {
    width: 270px;
    height: 31px;
  }
  .log2 .layui-form {
    font-size: 12px;
    width: 269px!important;
    margin-left: 38px!important;
    margin-bottom: 27px!important;
  }
  .log2 .layui-form .layui-form-select input {
    height: 27px;
  }
  .log2 .layui-form .layui-form-select .layui-anim-upbit {
    height: 32px!important;
    min-height: 100px;
    overflow: auto;
    zoom: 1;
  }
  .log2 .layui-form .layui-form-select .layui-anim-upbit dd {
    height: 20px!important;
    line-height: 2;
  }
  .log2 h1 {
    font-size: 19px;
  }
  .btn2 {
    margin-left: 38px!important;
    width: 270px!important;
    height: 27px!important;
  }
}
/*# sourceMappingURL=index.css.map */