.wrap{
  width: 100%;
  height: 100%;
  background: url("../img/beijing.png") center center no-repeat;
  min-width: 1366px;
  max-width: 1920px;
  min-height: 768px;
  position: relative;
  background-size: cover;
  .box{
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-1%) translateY(-36%);
    padding: 21px;
    .title{
      text-align: center;
      font-size: 25px;
      padding: 27px 0;
    }
    .input01{
      margin: 0 auto;
      width: 342px;
      height: 50px;
      background:url("../img/zhanghao_01.png") center center no-repeat;
      background-size: cover;
      input{
        margin-left: 69px;
        width: 249px;
        height: 30px;
        margin-top: 10px;
        padding-left: 5px;
        border: none;
        outline: none;
        background: #f5f5fa;
      }
    }
    .input03{
      margin: 0 auto;
      width: 342px;
      height: 50px;
    }
    .input02{
      margin: 15px auto;
      width: 342px;
      height: 50px;
      background:url("../img/mima_01.png") center center no-repeat;
      background-size: cover;
      input{
        margin-left: 69px;
        width: 249px;
        height: 30px;
        margin-top: 10px;
        padding-left: 5px;
        border: none;
        outline: none;
        background: #f5f5fa;
      }
    }
    .layui-input-inline{
      width: 322px;
    }
    .layui-inline{
      margin-left: 10px;
    }
    .btn{
      margin: 15px auto;
      width: 322px;
      height: 39px;
      background: url(../img/denglu.png) center center no-repeat;
      background-size: cover;
      border-radius: 5px;
      cursor: pointer;
    }
    .btm{
      margin: 74px auto 15px;
      width: 322px;
      height: 39px;
      background: url(../img/denglu.png) center center no-repeat;
      background-size: cover;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
